@media (min-width: 900px) {
  body footer img {
    width: 30%; }
  .mateo img {
    width: 350px;
    margin-bottom: 5rem; }
  .tituloytexto h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 2rem;
    margin: 30px;
    text-shadow: 3px 5px 2px #474747; }
  .tituloytexto h3 {
    color: #fff;
    margin: 30px;
    font-size: 3rem; }
  .tituloytexto p {
    font-size: 1.5rem;
    text-align: left;
    margin: 25px;
    line-height: 50px; } }

@media (max-width: 650px) {
  .seccion3 {
    flex-direction: column; }
  .contenedor-general .subtitulo {
    font-size: 1.6rem; }
  .contenedor-general .parrafo {
    font-size: 1.2rem; }
  .contenedor-banner h2 {
    font-size: 1.9rem; }
  .contenedor-banner h1 {
    font-size: 2.5rem; }
  .gianluca img {
    margin-bottom: 5rem;
    width: 350px; }
  .mateo .imgMateo img {
    width: 250px; }
  .nuestrosPerros .imagenes {
    grid-template-columns: repeat(1, 1fr); } }

body {
  background-color: rgba(80, 137, 252, 0.76); }

.seccion1 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/perrobg.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex; }

.contenedor-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  margin-top: 40px; }
  .contenedor-banner h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 4rem;
    text-shadow: 3px 5px 2px #474747; }
  .contenedor-banner h2 {
    margin: 60px;
    font-size: 3.3rem;
    text-align: center;
    text-shadow: 3px 5px 2px #474747; }

span {
  color: dodgerblue; }

.contenedor-general {
  background-image: url(../img/cool-background.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .contenedor-general .subtitulo {
    text-align: center;
    color: #d3ebf2;
    margin: 25px;
    font-size: 2.7rem;
    text-align: center;
    text-shadow: 3px 5px 2px #474747; }
  .contenedor-general .parrafo {
    font-size: 1.7rem;
    text-align: center;
    margin: 25px;
    color: #fff6f6; }

.perros {
  display: flex; }

.svg1 img, .contenedor-general .svg2 img,
.svg2 img {
  width: 100%; }

.contenedor-general .svg1, .contenedor-general .svg2 {
  display: flex;
  justify-content: center;
  width: 100%; }

.contenedor-general .svg2 {
  transform: scaleX(-1); }

.perros {
  width: auto;
  display: flex; }

footer {
  background-color: rgba(80, 137, 252, 0.76);
  overflow: hidden;
  width: 100%;
  padding: 15px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  footer img {
    width: 50%; }
  footer .copy {
    font-size: 1.2rem;
    font-weight: bold; }

.copy {
  text-align: center;
  grid-column: 5;
  grid-row: 2;
  align-self: center; }

.icono-wpp {
  grid-column: 9;
  justify-self: center; }

.icono-facebook {
  grid-column: 6;
  justify-self: center; }

.icono-instagram {
  grid-column: 3;
  justify-self: center; }

.icono-home {
  justify-self: center; }

.teInvitamos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  background-color: #417be7; }
  .teInvitamos h1 {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-size: 2rem;
    text-shadow: 3px 5px 2px #474747; }

.teInvitamos .logoSection {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px; }
  .teInvitamos .logoSection img {
    width: 33%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem; }
  .teInvitamos .logoSection .img-logo {
    animation-name: pulso;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 20s; }

@keyframes pulso {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.gianluca {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #3768c5; }

.tituloytexto {
  text-align: center;
  line-height: 2rem;
  margin: 2rem; }
  .tituloytexto h2 {
    color: #fff;
    margin-top: 10px;
    font-size: 1.2rem;
    margin-top: 45px;
    text-shadow: 3px 5px 2px #474747; }
  .tituloytexto h3 {
    color: #fff;
    margin-top: 10px;
    font-size: 1.2rem;
    margin-top: 45px;
    text-shadow: 3px 5px 2px #474747; }
  .tituloytexto p {
    font-size: 1.0rem;
    text-align: center;
    margin: 25px;
    color: #fff6f6;
    text-shadow: 3px 5px 2px #474747; }

.mateo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #2e58a7; }

.imgMateo img {
  width: 350px;
  margin-bottom: 40px; }

.nuestrosPerros {
  background-color: antiquewhite;
  height: 100%;
  padding: 25px;
  width: 100%;
  overflow: hidden; }

.imagenes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 100%;
  width: auto; }
  .imagenes img {
    width: 100%;
    height: 100%; }

.perro:hover {
  transform: scale(1.1); }

.zonaSur {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  height: 100vh;
  background-color: #467fc0; }

.iframe {
  width: 70%;
  height: 70%; }

.iframe iframe {
  height: 100%;
  width: 100%; }

.radaTilly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  height: 100vh;
  background-color: #2e619b; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }
