// imports
@import "utilities/variables";
@import "utilities/medias";
@import "utilities/mixins";
@import "components/index.scss";
@import "components/nosotros.scss";
@import "components/perros.scss";
@import "components/recorrido.scss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
