@media (min-width:900px) {
  body footer img {
    width: 30%;
  }

  .mateo img {
    width: 350px;
    margin-bottom: 5rem;
  }

  .tituloytexto h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 2rem;
    margin: 30px;
    text-shadow: 3px 5px 2px #474747;
  }

  .tituloytexto h3 {
    color: #fff;
    margin: 30px;
    font-size: 3rem;
  }

  .tituloytexto p {
    font-size: 1.5rem;
    text-align: left;
    margin: 25px;
    line-height: 50px;
  }
}

@media (max-width: 650px) {
  .seccion3 {
    flex-direction: column;
  }

  .contenedor-general {
    .subtitulo {
      font-size: 1.6rem;
    }

    .parrafo {
      font-size: 1.2rem;
    }
  }

  .contenedor-banner {
    h2 {
      font-size: 1.9rem;
    }

    h1 {
      font-size: 2.5rem;
    }
  }

  .gianluca img {
    margin-bottom: 5rem;
    width: 350px;
  }

  .mateo .imgMateo img {
    width: 250px;
  }

  .nuestrosPerros .imagenes {
    grid-template-columns: repeat(1, 1fr);
  }
}